p{
    color:blue;
    }
 #second {
    color:red;
    }
 .third{
        color:brown;
    }
a:link {
    color: aqua;
}
a:visited {
    color: blueviolet;
}
a:hover {
    color: royalblue;
}
::selection {
    color:cyan;
}
input[type="text"] {
    width: 150px;
    display: block;
    margin-bottom: 10px;
    background-color: yellow;
    }
    input[type="button"] {
        width: 120px;
        margin-left: 35px;
        display: block;
        }
.main-div h1 {
    background-color: aquamarine;
    color:blueviolet;
}
h1+h2 {
    background-color: brown;
    color: :aquamarine;
}

p{
    color:red !important;
}
#p-red {
    color: green;
}
div .red {
    color: red;
}