.container {
    width: 500%;
    height: 300px;
    position: relative;
    background-color: rgb(38, 167, 167);
    background-color: #fff;
    animation-name: change-bg-color;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
}

.animated-image {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    animation-name: move-right;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.text-container {
    position: absolute;
    top: 90%;
    transform: translateY(-70%);
    left: 250px;
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}

.animated-text {
    font-size: 36px;
    font-weight: bold;
    color: #00bfff;
}
@keyframes move-right {
    from {
        left: 0;
    }

    to {
        left: 66vw;
    }
}

@keyframes change-bg-color {
    from {
        background-color: #fff;
    }

    to {
        background-color: rgba(125, 205, 188, 0.795);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}